<p>
  <strong>Commenter:</strong>
  <%= comment.user_id %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.content %>
</p>

<% if user_signed_in? && current_user.id == comment.user_id  %>
<p>
  <%= link_to 'Delete Comment', [comment.recipe, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>