<p class="comments">
<%= comment.user.username %>:
<br>
  <%= comment.content %>
<br>

<% if user_signed_in? && current_user.id == comment.user_id  %>

  <%= link_to 'Delete Comment', [comment.recipe, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

<% end %>
