<% if user_signed_in? && current_user.id == @recipe.user_id  %>

    <h1>Editing recipe</h1>

    <%= render 'form' %>
 
    <%= link_to 'Back', recipes_path %>

<% else %>
    <% controller.redirect_to recipe_path %>
<% end %>
