<h1><%= @category.name %>:</h1>

<p>
  <strong>Recipes:</strong> 
  <% if @category.recipes.empty? %>No recipes<% end %>
  
  <% @category.recipes.each do |recipe| %> 
  <p class="recipe">
    <p><%= link_to recipe.title, recipe %></p>
    <p><%= recipe.text[0,500] %>...</p>
    
  </p>  
  <% end %>

<p> 
